{% extends 'base.html' %}
{% block title %}Login Page{% endblock title %}
{% block page_title %}Login here!{% endblock page_title %}
{% block content %}
<div class="row">
    <div class="col-md-8 m-auto">
        <div class="card">
            <div class="card-header h4"><span class="m-auto">Enter your username and password to login...</span></div>
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" name="username" required autocomplete="off" placeholder="Enter username here" id="id_username" class="form-control">
                    </div>
                    <div class="form-group mt-3">
                        <label for="id_password">Password</label>
                        <input type="password" name="password" required placeholder="Enter password here" id="id_password" class="form-control">
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}